/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .background{background-color: #909790;}
 p{
   color:#121212;
 }

h1 {
  color:#121212;
}
h2 {
  color:#121212;
}
.nav_bad{
  background-color: #121212;
  padding-left: 2rem;
}
.title {
  color:#FFFFFF;
}

.card_bad{
  margin-top: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
  height: 100%;
}

.card_bad_color {
  background-color: #093009;
}

.card_saul_color {
  /* background-color: #FF473D; */
  background-color: #093009;
}

.card_image_bad{
  width: 15rem;
}

.green {
  color:#093009;
}

.top_card {
  margin-top: 10rem;
}
.top_quote {
  margin-top: 2rem;
}

.white_text {
  color: #FFFFFF;
}
